@media screen and (max-width: 768px) {
    body {
        padding: 0 10px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero h3 {
        font-size: 20px;
    }

    .wedding-title {
        font-size: 60px;
        letter-spacing: 10px;
    }

    .photo-grid {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
    }

    .photo-grid img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .countdown-box {
        font-size: 1.5rem;
    }

    .survey {
        padding: 20px;
    }

    .survey h2 {
        font-size: 20px;
    }

    .survey .question {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .survey button {
        padding: 10px 18px;
        font-size: 16px;
    }

    .menu h2 {
        font-size: 18px;
    }

    .menu p {
        font-size: 14px;
    }

    .quote-section blockquote {
        font-size: 20px;
    }

    .quote-photo {
        max-width: 80%;
    }

    .hero .text, .countdown-box, .survey, .photo-grid img {
        animation-delay: 1s;
    }

    .confirm-btn, .cancel-btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .info {
        text-align: center;
        margin: 20px 0;
        padding: 15px;
        background-color: #2e2e2e;
        border-radius: 10px;
    }

    .info h2 {
        font-size: 20px;
        color: #d0bc6e;
    }

    .info p {
        font-size: 16px;
        color: #ffffff;
        line-height: 1.2;
    }

    /* Стили для расписания */
    .schedule {
        padding: 10px;
    }

    .event {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .event .time {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .event .details {
        font-size: 16px;
    }
}


