body {
    background-color: #1c1c1c; /* Темно-серый фон */
    color: #ddd;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: auto;
    padding: 60px 0 0;
    align-items: center;

    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: calc(100% - 32px);
    max-width: 700px;
    margin: 0 16px;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.main-info__elem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-info__elem--reverse {
    flex-direction: row-reverse;
}

.main-info__elem img {
    width: 50%;
    border-radius: 12px;
}

.main-info__elem-text {
    display: flex;
    justify-items: center;
    width: 50%;
}

.main-info__elem h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    padding: 24px 36px;
    border-top: 2px solid #d0bc6e;
    border-bottom: 2px solid #d0bc6e;

    color: #ddd;
    font-family: "PT Serif", serif;
    font-size: 24px;
}

.main-info__elem-number {
    padding: 8px 0;
    font-size: 52px;
}

.main-info__elem h1 {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 52px;
    color: #d0bc6e;

    font-family: "PT Serif", serif;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 8px;
}

@media (max-width: 500px) {
    .main-info__elem {
        flex-direction: column;
    }

    .main-info__elem img {
         width: 100%;
     }

    .main-info__elem-text {
        width: 100%;
        padding-top: 60px;
    }

    .main-info__elem h1 {
        width: 100%;
        padding: 80px 0 20px;
    }
}

.main-info__elem img,
.main-info__elem-text,
.main-info__elem h1 {
    transform: scale(1.5);
    animation: photoAppear 1.5s ease-out forwards;
    opacity: 0;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #d0bc6e;
    font-size: 84px;
}

.timer__elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(0);
    animation: countdownAppear 1s ease-out forwards;
    animation-delay: 1.8s;
}

.timer__elem-text {
    margin-top: -20px;
    font-size: 20px;
}

@media (max-width: 700px) {
    .timer {
        font-size: 56px;
    }
}

@media (max-width: 500px) {
    .timer {
        gap: 12px;
    }

    .timer__elem-text {
        margin-top: -12px;
        font-size: 16px;
    }
}

.info {
    padding: 40px;
    text-align: center;
    background-color: #2e2e2e;
    border-radius: 10px;
}

.info h2 {
    margin: 0 0 12px;
    color: #d0bc6e;
    font-size: 24px;
}

.info__text {
    color: #ddd;
    font-size: 20px;
    line-height: 32px;
}

.info__text-time {
    font-weight: 600;
}

@media (max-width: 500px) {
    .info h2 {
        font-size: 20px;
    }

    .info__text {
        font-size: 18px;
    }
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote__photo {
    width: 50%;
    margin-bottom: 36px;
    border-radius: 10px;
}

.quote__text {
    width: 70%;
    color: #d0bc6e;
    text-align: center;
    font-family: "PT Serif", serif;
    font-size: 24px;
    font-style: italic;
}

.dress-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dress-code h2 {
    margin: 0 0 12px;
    font-size: 24px;
}

.dress-code__text {
    width: 90%;
    margin-bottom: 20px;
    color: #ddd;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

@media (max-width: 500px) {
    .dress-code h2 {
        font-size: 20px;
    }

    .dress-code__text {
        font-size: 18px;
    }
}

.color-circles {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.color-circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid #ddd;
}

.color1 {
    background-color: #f0e1d2;
}

.color2 {
    background-color: #e1d7f0;
}

.color3 {
    background-color: #d2f0e1;
}
.color4 {
    background-color: #f0d2e1;
}

.color5 {
    background-color: #f0f1d2;
}

@media (max-width: 500px) {
    .color-circles {
        gap: 12px;
    }

    .color-circle {
        width: 48px;
        height: 48px;
    }
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #2e2e2e;
    font-size: 20px;
}

.schedule__container {
    padding: 60px 0 60px;
}

.schedule h2 {
    margin: 0 0 24px;
    color: #d0bc6e;
    font-size: 24px;
    text-align: center;
}

.schedule__elem {
    display: flex;
    gap: 20px;
}

.schedule__elem + .schedule__elem {
    margin-top: 36px;
}

.schedule__time {
    width: 30%;
    font-weight: bold;
    text-align: right;
}

.schedule__details {
    width: 70%;
    color: #ddd;
}

.schedule__description {
    margin-top: 8px;
    color: rgb(196, 187, 152);
}

@media (max-width: 500px) {
    .schedule {
        font-size: 18px;
    }

    .schedule h2 {
        font-size: 20px;
    }
}

.confirmation h2 {
     margin: 0 0 8px;
     font-size: 24px;
     text-align: center;
}

.confirmation__text {
    margin: 0 0 24px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

.form {
    text-align: left;
}

.form label {
    display: block;
    padding: 4px 0;
    color: #ddd;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.form label.title {
    display: block;
    padding: 0;
    color: #ddd;
    font-size: 20px;
    line-height: 32px;
    cursor: initial;
}

.form label.title--radio {
    margin-bottom: 8px;
}

.form input[type="text"] {
    width: calc(100% - 44px);
    padding: 12px 20px;
    font-size: 20px;
    border: 2px solid #d0bc6e;
    border-radius: 5px;
}

.form input[type="text"]:focus-visible {
    border-color: #a58f4d;
    box-shadow: 0 0 5px rgba(165, 143, 77, 0.6);
    outline: 0;
}

.form__elem + .form__elem {
    margin-top: 20px;
}

.form input[type="radio"] {
    margin-right: 8px;
    accent-color: #d0bc6e;
}

.form button {
    display: block;
    margin: 32px auto 0;
    padding: 12px 20px;
    background-color: #d0bc6e;
    color: #1c1c1c;
    font-size: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #d0bc6e;
    transform: scale(1.1); /* Немного увеличиваем кнопку */
}

@media (max-width: 500px) {
    .form label.title {
        font-size: 18px;
    }

    .form input[type="text"] {
        font-size: 18px;
    }
}

#confirmation-message,
#confirmation-message-error {
    font-size: 20px;
    text-align: center;
}

@keyframes photoAppear {
    0% {
        transform: scale(1.5); /* Фото увеличенное */
        opacity: 0;
    }
    100% {
        transform: scale(1); /* Фото встает на место */
        opacity: 1;
    }
}

@keyframes countdownAppear {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hidden {
    display: none;
}

@media (max-width: 500px) {
    .confirmation {
        padding: 16px;
    }

    .confirmation__text {
        font-size: 18px;
    }

    #confirmation-message,
    #confirmation-message-error {
        font-size: 18px;
    }
}

